{% extends 'base.html' %}

{% block title %}Creatino RPi Timelapse Configer - Home {% endblock %}


{% block content %}
<div class='heading'>
    <h1>Creatino Raspberry Pi TimeLapse Configurator!</h1>
</div>
<div class='input_field'>
    <h3>Choose Program</h3>
    <br>
    <p><strong>Program 1:</strong></p>
    <p>    Num of pics / timeunit</p>
    <br>
    <p><strong>Program 2:</strong> </p>
    <p>    Pause between pics</p>

</div>

<div class='button_group' >
        <a href="/program1">
            <button class='btn_2'>Program 1</button>
        </a>
        <a href="/program2">
            <button class='btn_2'>Program 2</button>
        </a>
        <a href="/livevideo">
            <button class='btn_1'>Livevideo</button>
        </a>
 
</div>

{% endblock %}
