{% extends 'base.html' %}

{% block title %}Björns RPi Timelapse Configer - Home {% endblock %}


{% block content %}
<div class='heading'>
    <h1>Björns Raspberry Pi TimeLapse Configurator!</h1>
</div>
<div class='input_field'>
    <h3>Välj ett program</h3>
    <br>
    <p><strong>Program 1:</strong></p>
    <p>    Antal bilder / tidsenhet</p>
    <br>
    <p><strong>Program 2:</strong> </p>
    <p>    Tid mellan varje bild</p>

</div>

<div class='button_group' >
        <a href="/program1">
            <button class='btn_2'>Program 1</button>
        </a>
        <a href="/program2">
            <button class='btn_2'>Program 2</button>
        </a>
</div>

{% endblock %}
