{% extends 'program.html' %}

{% block title %}Creatino RPi Timelapse Configer - Program 1 {% endblock %}


{% block program %}

    {{num}}

    {% block input_data %}
            <div class='input_line'>
                <input id="input1" type='text' name='nm' value = '10' size = '8' min='0'>
                <label for="input1">Antal bilder att ta. 0 är kontinuerligt tills stopp</label>
            </div>
            <div class='input_line'>
                <input id='input2' type='number' name='num_of_pause_seconds' value = '1' size = '8' min='1'>
                <label for="input2">Antal sekunder mellan tagning</label>
            </div>

    {% endblock %}

{% endblock %}
