{% extends 'base.html' %}

{% block title %} {% endblock %}


{% block program %}
{% block content %}
<div class='heading'>
    <h1>Program {{num}}</h1>
</div>
<div class='input_field'>
    <p>Detta är program nummer {{num}}</p>
</div>

<div class='button_group' >
    <form action="" method="POST">
        <button class='btn_2' type = 'submit' value = 'start' name = 'button'>Start</button>
        <button class='btn_2' type = 'submit' value = 'stop' name = 'button'>Stopp</button>
    </form>
    {% block data %}

    {% endblock %}
    <a href="/home">
        <button class='btn_1'>Home</button>
    </a>
</div>


{% endblock %}
{% endblock %}
