{% extends 'base.html' %}

{% block title %}Creatino RPi Timelapse Configer - Live video {% endblock %}


{% block content %}
    <center><h1>mrBear tests Webcamera with Webserver!</h1></center>
    <center><img src="/static/pictures/livevideo/live_video_pic.jpg" id='test' width="640" height="480"></center>

<!--        <img name="test">-->
    <a href="/home">
        <button class='btn_1'>Home</button>
    </a>



<script type="text/javascript" src="/static/js/test.js"></script>
{% endblock %}
